@page "/todo"
@rendermode InteractiveServer

<h3>Do Zrobienia (@todos.Count(todo => !todo.IsDone))</h3>


<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />
        </li>
    }
</ul>

<input @bind="newToDo" />
<button @onclick="AddToDo">Dodaj Do Zrobienia</button>

@code {
    private List<TodoItem> todos = new();
    string newToDo = "";

    public void AddToDo()
    {
        if(!string.IsNullOrWhiteSpace(newToDo))
        {
            todos.Add(new TodoItem { Title = newToDo });
            newToDo = string.Empty;
        }
    }
}